<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autor</title>
</head>    
<body>

     <h1>Informações sobre o Author</h1>
    
           <h2>Nome do autor: </h2> 

        <h3>Formações Acadêmicas:</h3>
        <ul>
            <li>
                Curso: 
            </li>

            <li>
                Curso:
            </li>

        </ul>

        <h3>Experiências Profissionais</h3>
        <ul>
            <li>
                Função:
            </li>
            <li>
                Funçao:
            </li>

        </ul>
</body>
</html>